{% extends 'main/default.html' %}


{% block title %}
Items
{% endblock title %}

{% block content %}
{% for item in items %}
<h1>Item {{ item.pk }}: {{ item.name }}</h1>
<p>Description: {{ item.description }}</p>
<p>Price: {{ item.price }} {{ item.currency }}</p>
<button class="btn btn-secondary" id="buy-button-{{ item.pk }}">Buy</button>
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
      var stripe = Stripe('pk_test_51MaQIsCGccPEKImW8EJlh4D3wSLRhAmsVabUOai4SyO8GCtRkxsZjsZeBq9mCmS3fIthPbpMNuCaEREQKbcbWEKB00dtExZxI8');
      var buyButton = document.getElementById('buy-button-{{ item.pk }}');
      var x;
      buyButton.addEventListener('click', function() {
        fetch('/buy/{{ item.pk }}', {method: 'GET'})
        .then(response => response.json())
        .then(session => stripe.redirectToCheckout({ sessionId: session.id }))
      });

</script>
{% endfor %}
{% endblock content %}

